<div class="card-container">
    <div *ngFor="let product of products">
        <div class="card">
            <a routerLink="/product/{{product.id}}" [state]="product">
                <div class="feature-image">
                    <img width="100%" height="100%" src="{{product.image}}" />
                </div>
                <div class="feature-detail">
                    <h3 class="title">{{ product.title | slice:0:30 }}</h3>
                    <div class="comment-price">

                        <div class="comment-count">{{product.comments}}
                            Comments
                        </div>
                        <div class="price">${{product.price}}</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="more" *ngIf="!noMoreProducts">
    <button (click)="loadMore()">Load More</button>
</div>