.card-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  /* max-width: 1200px; */
}
.card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 300px;
  padding: 1.8rem;
  margin: 0.8rem;
  height: 400px;
}
.feature-image {
  width: 100%;
  height: 320px;
}
/* .feature-detail {
} */
.comment-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8em;
}
.comment-count {
  color: gray;
}
.price {
  font-weight: 800;
}

.more {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.more > button {
  background: transparent;
  border: none;
  color: green;
}
.card > a {
  text-decoration: none;
  color: inherit;
}
