.comment-content {
  width: 70%;
  border: solid 1px rgb(237, 237, 237);
  border-radius: 4px;
  margin-top: 10px;
}
.comment-content li,
ul {
  text-decoration: none;
  list-style: none;
}
.author {
  background: gainsboro;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: rgb(93, 120, 231);
  font-weight: 800;
}
.author,
.content,
.controls {
  padding: 10px;
}
.controls > button {
  margin: 4px;
  border-radius: 4px;
  border: none;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}
.controls button:nth-child(1) {
  background: rgba(8, 123, 84, 0.927);
}
.controls button:nth-child(1):hover {
  background: rgba(8, 123, 85, 0.559);
}
.controls button:nth-child(2) {
  background: rgb(181, 27, 27);
}
.controls button:nth-child(2):hover {
  background: rgb(209, 165, 7);
}
.author i {
  margin-left: 1.8em;
  font-size: 0.8em;
  color: gray;
  font-weight: 400;
}
